.admin-mainWrapper {
    @include size(100%);
    min-height: 100vh;
    width: 100%;
    @include flexbox;
    @include flex-direction(column,vertical);

    @include mq(tablet-max) {
        @include flex-direction(row,horizontal);
    }

    .ls_container {
        width: 100%;
        max-width: 280px;
        background-color: var(--themePrimaryColor);
        

        @include mq(tablet-max) {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
        }
    }

    .rs_container {
        @include mq(tablet-max) {
            @include calc(width,'100% - 280px');
            margin-left: 280px;
        }
    }
}
.admin_header {
    padding: 20px 25px;
    @include flexbox;
    @include flex-direction(row,horizontal);
    @include align-items(center);
    @include justify-content(space-between);
    min-height: 100px;
}