.c-boxContainer {
  $self: &;
  &.d4 {
    position: relative;
    z-index: 10;
    @include mq(tablet-max) {
      margin-top: 200px;
    }

    #{$self} {
      &_wrapper {
        width: 100%;
        background-color: #ffefbf;
        padding-top: 30px;
        padding-bottom: 10px;

        @include mq(tablet-max) {
          height: 100%;
          position: absolute;
          width: 100%;
          padding-top: 0px;
          padding-bottom: 0px;
          background-color: transparent;
          .container,
          .row {
            height: 100%;
          }
          .col-12 {
            position: relative;
          }
        }
        .oval_shape {
          @include mq(tablet-max) {
            width: 100%;
            background-color: #ffefbf;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: -30%;
            z-index: -1;
            @include flexbox;
            @include justify-content(center);
            padding-top: 8%;

            &:before {
              content: '';
              display: block;
              padding-top: 50%;
            }
          }

          @include mq(desktop-wide) {
            padding-top: 6%;
          }

          @include mq(desktop-wide-max) {
            padding-top: 5%;
          }
        }
      }
      &_wrap {
        position: relative;
        z-index: 20;
        //height: 100%;
        background: linear-gradient(#ffefbf 0%, #ffffff 30%);
      }
    }
  }
}
