.c-boxContainer {
  $self: &;
  &.d5 {
    height: 100%;
    @include flexbox;
    // @include flex-direction(column, vertical);
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(16px);
    background-color: var(--themePrimary);

    #{$self} {
      &_wrapper {
        width: calc(100% - 40px);
        margin: 20px;
        @include flexbox;
        @include flex-direction(column, vertical);
        @include justify-content(center);
        @include align-items(center);
        border-bottom: 2px solid rgba(var(--baseBlack), 0.2);

       
      }
    }

    :last-child{
      border-bottom: none !important;
    }
  }
}
