.c-boxContainer {
  $self: &;
  &.d6 {
    background: url('/nilp/images/img_5.png');
    background-repeat: repeat;
    background-size: contain;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;

    @include mq(tablet-max) {
      position: relative;
    }
  }
}

.c-multi_columns_container {
  position: relative;
}
