.gc {
  $self: &;
  &.d3 {
    #{$self} {
      &__content {
        font-size: $font18;
        text-align: justify;
        line-height: 1.6;
        @include fontBase(var(--fontRegular));
        color: var(--themeTextSecondary);

        @include mq(tablet) {
          font-size: $font20;
        }

        @include mq(desktop-min) {
          font-size: $font22;
        }
      }
    }

    &.text-center {
      #{$self} {
        &__content {
          text-align: center;
        }
      }
    }

    &.semiBold {
      #{$self} {
      &__content {
        @include fontBase(var(--fontSemiBold));
      }
    }
    }
  }
}
