.gc {
  $self: &;
  &.d6 {
    #{$self} {
      &__content {
        font-size: $font14;
        line-height: 1.6;
        text-align: justify;
        @include fontBase(var(--fontRegular));
        color: var(--black3);

        @include mq(tablet) {
          font-size: $font14;
        }

        @include mq(desktop-min) {
          font-size: $font14;
        }
      }
    }
    &.bold {
      #{$self} {
        &__content {
          @include fontBase(var(--fontSemiBold));

        }
      }
    }
  }
}
