.gc {
  $self: &;
  &.d2 {
    #{$self} {
      &__content {
        font-size: $font16;
        line-height: 1.4;
        text-align: justify;
        @include fontBase(var(--fontRegular));
        color: var(--black3);

        @include mq(tablet) {
          font-size: $font16;
        }

        @include mq(desktop-min) {
          font-size: $font18;
        }
      }
    }

    
  }

}
