.gc {
    $self: &;
    &.d7 {
      #{$self} {
        &__content {
          font-size: $font16;
          line-height: 1.2;
          text-align: justify;
          @include fontBase(var(--fontSemiBold));
          color: var(--blackWhite);
          margin-top: 10px;

          span{
            @include fontBase(var(--fontRegular));
          }
  
          @include mq(tablet) {
            font-size: $font18;
          }
  
          @include mq(desktop-min) {
            font-size: $font20;
          }
        }
      }
     
    }
  }
  