.c-card {
  $self: &;
  &.d10 {
    @include flexbox;
    @include flex-direction(column, vertical);
    @include align-items(center);
    background: var(--whiteBg);
    border-radius: 16px;
    // box-shadow: 0 5px 10px var(--grey4);
    padding: 20px;
    justify-content: center;
    margin: 10px;

    @include mq(desktop) {
      @include flex-direction(row, horizontal);
      justify-content: center;
    
      img {
        max-width: 320px;
      }
    }
  }
}

.c-card10-container {
  display: flex;

  @include mq(tablet-max, max) {
    @include flex-direction(column, vertical);
  }
}
.c-card10-container .c-card {
  &.d10 {
    flex: 1 1;
  }
}

.c-card {
  &.d10 {
    img {
      flex: 1 1;
    }
  }
}
