.c-card {
    $self: &;
    &.d15 {
        border: 1px solid var(--grey);
        background-color: var(--whiteBlack);
        padding:20px 30px; 
        margin-top: 20px;
        @include border-radius(10px);
        @include flexbox;
        @include flex-direction(column,vertical);
    }
  }