.c-card {
  $self: &;
  .d16 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    #{$self} {
      &_content {
        @include flexbox;
        @include flex-direction(column, vertical);
        @include mq(phablet) {
          @include flexbox;
          @include flex-direction(row, horizontal);
        }
      }
    }
  }
}

.bg_blue {
    background: var(--themeBlue);
    @include border-radius(10px);
    color: var(--white);
    @include fontBase(var(--Bold));
    font-size: $font30;
    text-align: center;
    max-width: 365px;
    width: 100%;
  }
  .bg_pink {
    background: #f8c0c0;
  }
  .bg_light_blue {
    background: #c0e7f8;
  }
  .bg_light_green {
    background: #c8f8c0;
  }
  .bg_circle {
    width: 120px;
    height: 120px;
    @include border-radius(50%);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    font-size: $font14;
    text-align: center;
    margin: 10px;
    color: var(--black);
  }
  