.c-card {
  $self: &;
  &.d4 {
    padding: 35px 18px 20px;
    position: relative;

    #{$self} {
      &__box {
        @include flexbox;
        @include flex-direction(column, vertical);

        @include mq(tablet-small) {
          @include flex-direction(row, horizontal);
          @include justify-content(space-between);
        }

        @include mq(tablet-max) {
          @include flex-direction(column, vertical);
          @include justify-content(flex-start);
        }

        @include mq(desktop-wide) {
          @include flex-direction(row, horizontal);
          @include justify-content(space-between);
        }
      }
      &__label {
        @include fontBase(var(--fontBold), var(--font-secondary));
        font-size: $font22;
        color: var(--white);
        margin-bottom: 0;
      }

      &__designation {
        @include fontBase(var(--fontMedium), var(--font-secondary));
        color: var(--white);
        font-size: $font14;
      }
      &__small_text {
        @include fontBase(var(--fontMedium), var(--font-secondary));
        color: var(--themeTextSecondary);
        font-size: $font14;
        margin-bottom: 0;
        
        &.email_breakup {
          position: absolute;
          right: 10px;
          top: 5px;
          font-size: $font12;
        }

        a {
          color: var(--themeTextSecondary);
        }
     

        &.reverse {
          color: var(--white);
          @include fontBase(var(--fontRegular));

          a {
            color: var(--white);
          }
        }
      }
    }

    &.bg-theme-dark {
      background-color: var(--themePrimaryDarkBg);
      border:1px solid var(--white);
    }
    &.bg-theme-light {
      background-color: var(--themePrimaryLight);
      padding: 0 5px !important;
    }
  }
}
