.c-card {
  $self: &;
  &.d6 {
    @include flexbox;
    @include flex-direction(column, vertical);
    border-radius: 13px;
    position: relative;
    border: 1px solid var(--grey1);
    padding: 0;
    border-radius: 20px;
    @include box-shadow(0px 4px 20px 0px rgba(var(--baseBlack), 0.1));
    margin-bottom:20px;
    @include transition(all 0.3s ease);
    background-color: var(--whiteBg);

    &:hover {
      @include box-shadow(0px 10px 20px 0px rgba(var(--baseBlack), 0.2));
    }

    &.blue-bg {
      background-color: var(--themeTertiaryLight);
    }

    img {
      border: none;
      @include border-radius(20px 20px 0px 0px);
      object-fit: cover;
    }

    #{$self} {
      &__label {
        padding: 15px 15px 0 15px;
        @include fontBase(var(--fontSemiBold), var(--font-secondary));
        color: var(--themeTextSecondary);
        font-size: $font20;

        @include mq(tablet) {
          font-size: $font22;
        }

        @include mq(desktop-min) {
          font-size: $font24;
        }
        
        @include mq(desktop-wide) {
          padding:15px ;
        }
      }
      &__button {
        padding: 0px 15px 15px 15px;
      }
      &_media_counts {
        position: absolute;
        background-color: var(--whiteBg);
        right: 40px;
        top: 20px;
        padding: 5px 20px;
        @include border-radius(18px);
        @include fontBase(var(--fontSemiBold), var(--font-secondary));
        font-size: $font14;
        color: var(--themeTextSecondary);
        z-index: 100;
      }
      .button {
        position: absolute;
        background: transparent;
        width: 107px;
        text-align: center;
        border-radius: 18px;
        font-size: 20px;
        font-weight: 600;
        color: var(--white);
        border: 1px solid #706969;
        outline: 1px solid grey;
        outline-offset: 4px;
      }

      a {
        color: var(--themeTextSecondary);
      }

    }

    &.radius {
      img {
        @include border-radius(20px);
      }

      video {
        @include border-radius(20px);
      }
    }

    .card-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include mq(desktop-wide) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
    .card-span {
      order: -1;
      align-items: flex-start;
      padding-bottom: 20px;
      @include mq(desktop-wide) {
        order: 0;
        align-items: center;
        padding-bottom: 0px;
      }
    }
  }
}
