.c-card {
  $self: &;

  &.d7 {
    background-color: var(--themeWhite);
    @include border-radius(15px);
    padding: 20px;
    position: relative;

    @include mq(tablet) {
      padding: 20px 40px;
    }
  }
}
