.c-card {
  $self: &;

  &.d8 {
    @include border-radius(15px);
    padding: 0px 20px 20px;
    background: var(--linearGradientTheme3),
      url('/nilp/images/icons/pattern_5.png');
      position: relative;
      border: 1px solid var(--white);

    @include mq(tablet) {
      padding: 0px 20px 20px;
    }

    &--breakup {
      background: var(--grey6);
    }

    &--padding-top{
      padding-top: 20px;
    }
  }
}
