.c-card {
  $self: &;
  &.d9 {
    @include flexbox;
    @include flex-direction(column, vertical);
    @include align-items(center);
    @include justify-content(center);

    @include mq(tablet) {
      @include flex-direction(row, horizontal);
    }
    #{$self} {
      &__item {
        border: 1px solid var(--grey8);
        background-color: var(--baseWhite);
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-start);
        padding: 15px;
        width: 100%;
        max-width: 400px;
        @include border-radius(10px);
        font-size: $font14;
        line-height: 1.6;
        @include fontBase(var(--fontSemiBold));
        color: var(--themeTextSecondary);

        @include mq(tablet) {
          font-size: $font16;
          @include justify-content(center);
        }

        @include mq(tablet-max) {
          padding: 15px 30px;
        }

        @include mq(desktop-min) {
          font-size: $font18;
        }

        + #{$self}__item {
          margin-top: 20px;

          @include mq(tablet) {
            margin-top: 0px;
            margin-left: 20px;
          }
        }

        .circle {
          position: relative;
          @include size(28px);
          @include border-radius(100%);
          background-color: var(--baseWhite);
          border: 2px solid var(--grey8);
          margin-right: 15px;

          &:before {
            content: '';
            @include size(14px);
            @include border-radius(100%);
            background-color: var(--grey8);
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
          }
        }

        &.active {
          border-color: var(--themePrimaryColor);

          .circle {
            border-color: var(--themePrimaryColor);
            &:before {
              background-color: var(--themePrimaryColor);
            }
          }
        }

      }
    }

    &.no-border-hover {
      #{$self} {
        &__item {
          border: none;
          padding: 0;

          border-color: var(--themePrimaryColor);

          .circle:hover{
            border-color: var(--themePrimaryColor);
            &:before {
              background-color: var(--themePrimaryColor);
            }
          }
        }
      }
    }

    &--breakup {
      #{$self} {
        &__item {
          padding: 15px 45px;
          width: 100%;
          @include justify-content(flex-start);

          @include mq(tablet) {
            padding: 15px;
            width: auto;
            max-width: auto;
            @include justify-content(center);
          }
          @include mq(tablet-max) {
            padding: 15px 45px;
          }
        }
      }
    }
  }
}

