
.cml-10{
  margin-left: 10px;
}
.cmr-10{
  margin-right: 10px;
}
.cmt-20 {
  margin-top: 20px;
}
.cmt-30 {
  margin-top: 30px;
}
.cmt-40 {
  margin-top: 40px;
}
.cmt-50 {
  margin-top: 50px;
}
.cmt-60 {
  margin-top: 60px;
}
.cmt-70 {
  margin-top: 70px;
}
.cmt-80 {
  margin-top: 80px;
}
.cmt-90 {
  margin-top: 90px;
}
.cmt-100 {
  margin-top: 100px;
}
.cmt-120 {
  margin-top: 120px;
}
.cmt-150 {
  margin-top: 150px;
}
.cmt-180 {
  margin-top: 180px;
}
.cmt-200 {
  margin-top: 180px;
}

.cmb-10{
  margin-bottom: 10px;
}
.cmb-20 {
  margin-bottom: 20px;
}
.cmb-30 {
  margin-bottom: 30px;
}
.cmb-40 {
  margin-bottom: 40px;
}
.cmb-50 {
  margin-bottom: 50px;
}
.cmb-60 {
  margin-bottom: 60px;
}
.cmb-70 {
  margin-bottom: 70px;
}
.cmb-80 {
  margin-bottom: 80px;
}
.cmb-90 {
  margin-bottom: 90px;
}
.cmb-100 {
  margin-bottom: 100px;
}
.cmb-120 {
  margin-bottom: 120px;
}
.cmb-150 {
  margin-bottom: 150px;
}
.cmb-180 {
  margin-bottom: 180px;
}
.cmb-200 {
  margin-bottom: 180px;
}

.cpt-10 {
  padding-top: 10px !important;
}
.cpt-20 {
  padding-top: 20px !important;
}
.cpt-30 {
  padding-top: 30px;
}
.cpt-40 {
  padding-top: 40px;
}
.cpt-50 {
  padding-top: 50px;
}
.cpt-60 {
  padding-top: 60px;
}
.cpt-70 {
  padding-top: 70px;
}
.cpt-80 {
  padding-top: 80px;
}
.cpt-90 {
  padding-top: 90px;
}
.cpt-100 {
  padding-top: 100px;
}
.cpt-120 {
  padding-top: 120px;
}
.cpt-150 {
  padding-top: 150px;
}
.cpt-180 {
  padding-top: 180px;
}
.cpt-200 {
  padding-top: 180px;
}

.cpb-15 {
  padding-bottom: 15px;
}
.cpb-20 {
  padding-bottom: 20px;
}
.cpb-30 {
  padding-bottom: 30px;
}
.cpb-40 {
  padding-bottom: 40px;
}
.cpb-50 {
  padding-bottom: 50px;
}
.cpb-60 {
  padding-bottom: 60px;
}
.cpb-70 {
  padding-bottom: 70px;
}
.cpb-80 {
  padding-bottom: 80px;
}
.cpb-90 {
  padding-bottom: 90px;
}
.cpb-100 {
  padding-bottom: 100px;
}
.cpb-120 {
  padding-bottom: 120px;
}
.cpb-150 {
  padding-bottom: 150px;
}
.cpb-180 {
  padding-bottom: 180px;
}
.cpb-200 {
  padding-bottom: 180px;
}

.cp-10{
  padding: 10px;
}
.cp-90{
  padding: 0 70px;
}