.tabbing_wrap {
  $self: &;
  &.d3 {
    > ul {
      @include flexbox;
      margin-bottom: 10px;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;

      li {
        margin: 10px;
        width: calc(100% - 20px);

        @include mq(tablet) {
          width: auto;
        }
      }
    }
    #{$self} {
      &_item {
        color: var(--black3);
        box-shadow: 1px 3px 4px var(--grey4);
        background: var(--themeWhite);
        border: none;
        outline: none;
        display: block;
        width: 100%;
        padding: 10px 28px;
        @include border-radius(12px);
        @include transition(all 0.3s ease);
        @include fontBase(var(--fontMedium));
        font-size: $font16;

        @include mq(tablet) {
          font-size: $font18;
        }

        @include mq(desktop-min) {
          font-size: $font20;
        }

        &:hover,
        &.active {
          background-color: var(--themePrimaryDarkBg);
          color: var(--white);
        }
      }
    }
  }
}
