.tabbing_wrap {
  $self: &;
  &.d4 {
    > ul {
      @include flexbox;
      @include justify-content(center);
      margin-bottom: 20px;
      flex-wrap: wrap;

      li {
        width: 100%;

        &:last-child {
          #{$self} {
            &_item {
              @include border-radius(0 0 15px 15px);
            }
          }
        }

        @include mq(tablet) {
          width: auto;
          min-width: 250px;

          &:first-child {
            #{$self} {
              &_item {
                @include border-radius(0 0 0 15px);
              }
            }
          }

          &:last-child {
            #{$self} {
              &_item {
                @include border-radius(0 0 15px 0);
              }
            }
          }

          &:first-child:last-child {
            #{$self} {
              &_item {
                @include border-radius(0 0 15px 15px);
              }
            }
          }
        }
      }
    }
    #{$self} {
      &_item {
        color: var(--themeDarkShade);
        border: none;
        outline: none;
        background-color: var(--white);
        display: block;
        width: 100%;
        padding: 18px;
        @include transition(all 0.3s ease);
        @include fontBase(var(--fontMedium));
        font-size: $font16;
        
        @include mq(tablet-max) {
          padding: 18px;
        }
        &.active {
          background-color: var(--themePrimaryBg);
          color: var(--white);
          &:hover{
            color:var(--white);
          }
        }

        &:hover{
          color: var(--themePrimaryDarkBg);
        }
      }
    }
  }
}
