.c-footer {
  background-color: var(--themeDarkShade) !important;
  overflow: hidden;
  background: url('/nilp/images/icons/pattern_1.png');
  background-repeat: repeat;
  background-size: auto;
  padding-top: 35px;
  // position: relative;
  // bottom: 0;

  &_top {
    svg:hover,
    svg *:hover {
      fill: var(--orange);
    }
    &_info {
      &_content {
        .heading {
          font-size: $font16;
          color: var(--white);
          @include fontBase(var(--fontMedium));
          margin-bottom: 10px;
         
        }
        p {
          font-size: $font10;
          color: var(--white);
          @include fontBase(var(--fontRegular));
        }

        .visitors_counter {
          margin-top: 15px;
          color: var(--white);
          @include flexbox;
          @include flex-direction(column, vertical);

          span {
            @include fontBase(var(--fontMedium));
            font-size: $font20;
          }
        }

        svg,
        svg * {
          fill: var(--orange);
        }
      }
    }
  }
  &_bottom {
    padding: 15px 0;

    &_copy {
      color: var(--white);
      margin: 10px 0;
      text-align: center;
      font-size: $font14;

      @include mq('tablet') {
        margin: 0;
      }
    }
    &_container {
      border-top: 1px solid rgba(var(--baseWhite), 0.3);
      @include flexbox;
      @include flex-direction(column, vertical);
      @include align-items(center);

      @include mq('tablet') {
        @include flex-direction(row, horizontal);
        @include align-items(center);
        @include justify-content(space-between);
        padding-top: 15px;
      }
    }
  }
}
