.hw {
  $self: &;
  &.d8 {
    #{$self} {
      &__title {
        font-size: $font28;
        @include fontBase(var(--fontSemiBold), var(--font-primary));
        color: var(--themeTextSecondary);
        margin-bottom: 18px;
        line-height: 1.3;

        @include mq(tablet) {
          font-size: $font32;
        }

        @include mq(desktop-wide) {
          font-size: $font34;
        }
      }
    }
  }
}
