.hw {
  $self: &;
  &.d4 {
    #{$self} {
      &__title {
        font-size: $font20;
        @include fontBase(var(--fontBold), var(--font-secondary));
        color: var(--themeTextSecondary);

        @include mq(tablet) {
          font-size: $font22;
        }

        @include mq(desktop-wide) {
          font-size: $font24;
        }
      }
    }
  }
  &.semiBold {
    #{$self} {
      &__title {
        @include fontBase(var(--fontSemiBold), var(--font-secondary));
      }
    }
  }
  &.bold {
    #{$self} {
      &__title {
        color: var(--black);
      }
    }
  }
 
}
