.hw {
  $self: &;
  &.d3 {
    #{$self} {
      &__title {
        font-size: $font28;
        @include fontBase(var(--fontBold), var(--font-primary));
        color: var(--blackYellow);
        @include flexbox;
        @include flex-direction(column,vertical);

        @include mq(tablet) {
          font-size: $font34;
        }

        @include mq(desktop-wide) {
          font-size: $font34;
        }
        span {
          font-size: $font20;
          margin-bottom: 6px;
          color: var(--orange9White);
          @include fontBase(var(--fontSemiBold), var(--font-primary));

          @include mq(tablet) {
            font-size: $font22;
          }
  
          @include mq(desktop-wide) {
            font-size: $font22;
          }

         
        }
      }
    }

    &.reverse {
      #{$self} {
        &__title {
         span{
          color: var(--white);
         }
        }
      }
    }
    &.orange-text {
      #{$self} {
        &__title {
         color: var(--orange9White);
        }
      }
    }
  }
}
