.u-loader {
  $selfLoader: &;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  &.d1 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: var(--whiteLight);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        z-index: 11;
      }
    }
  }

  &.d2 {
    #{$selfLoader} {
      &_overlay {
        display: none;
      }
    }
  }

  &.d3 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: var(--whiteLight);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        @include flexbox;
        @include flex-direction(column, vertical);
        @include justify-content(center);
        @include align-items(center);
        z-index: 11;
        background: var(--whiteBg);
        padding: 40px 60px;
        border-radius: 6px;
        box-shadow: 0px 4px 50px 0px rgba(var(--baseBlack), 0.2);
      }
    }
  }

  &.d4 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: rgba(var(--baseBlack), 0.5);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        z-index: 11;
        background-color: var(--white);
        border: 1px solid var(--themeBorder1);
        box-shadow: 0 4px 50px 0 rgba(var(--baseBlack), 0.4);
        @include border-radius(40px);
        max-width: 700px;
        width: 90%;
        overflow: hidden;
        color: var(--black);
      }

      &_head {
        padding: 30px 40px 20px;
        border-bottom: 1px solid var(--themeBorder1);
        position: relative;
      }

      &_body {
        padding: 20px 30px;
        min-height: 100px;
        text-align: center;

        p {
          font-size: $font20;
          @include fontBase(var(--fontLight));

          a {
            color: var(--themeClr3);
          }
        }
      }

      &_close {
        position: absolute;
        right: 20px;
        top: 25px;
        background-color: transparent;
        outline: none;
        border: none;
      }
    }
  }


  &.d5 {
    position: relative;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        z-index: 11;
      }
    }
  }

  &.d6 {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100%);
    z-index: 999;

    #{$selfLoader} {
      &_overlay {
        display: block;
        background-color: var(--whiteLight);
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%);
        z-index: 10;
      }

      &_container {
        @include flexbox;
        @include flex-direction(column, vertical);
        @include justify-content(center);
        @include align-items(center);
        z-index: 11;
        background: var(--whiteBg);
        // padding: 40px 60px;
        border-radius: 6px;
        box-shadow: 0px 4px 50px 0px rgba(var(--baseBlack), 0.2);
      }

      &_head {
        padding: 30px 40px 20px;
        border-bottom: 1px solid var(--themeBorder1);
        position: relative;
        width: 100%;
      }

      &_body {
        padding: 20px 30px;
        min-height: 100px;
        text-align: center;

        p {
          font-size: $font20;
          @include fontBase(var(--fontLight));

          a {
            color: var(--themeClr3);
          }
        }
      }

      &_close {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: transparent;
        outline: none;
        border: none;
      }
    }
  }
}
