.c-navigation {
  $self: &;
  &_1 {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);

    #{$self} {
      &_item {
        color: var(--white);
        font-size: $font12;
        @include fontBase(var(--fontLight));
        margin: 0 10px 8px;
        position: relative;


        &:before {
          content: '';
          display: block;
          width: 0%;
          height: 2px;
          background-color: var(--white);
          position: absolute;
          bottom: -5px;
          @include border-radius(8px);
          @include transition(all 0.6s ease);
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }

        @include mq('tablet') {
          margin: 0;
        }

        + #{$self}_item {
          margin-left: 20px;
        }
      }
    }
  }

  &_2 {
    @include flexbox;
    @include flex-direction(column, vertical);

    #{$self} {
      &_item {
        color: var(--white);
        font-size: $font14;
        @include fontBase(var(--fontLight));
        margin: 0 0px 8px;
        position: relative;

        &:hover{
          color:var(--orange);
        }

        @include mq('tablet') {
          margin: 0;
        }

        + #{$self}_item {
          margin-top: 5px;
        }
      }
    }
  }

  &_3 {
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 10px;

    @include mq('tablet-max') {
      width: inherit;
      height: inherit;
    }
    ul {
      @include flexbox;
      @include flex-direction(column, vertical);

      @include mq('tablet-max') {
        @include flex-direction(row, horizontal);
      }
    }

    #{$self} {
      &_list {
        border-bottom: 1px solid var(--grey2);

        @include mq('tablet-max') {
          border-bottom: 0;
        }
      }
      &_item {
        font-size: $font16;
        color: var(--themeTextSecondary);
        @include fontBase(var(--fontMedium));
        margin: 0 6px;
        padding: 20px 0;
        display: block;
        border-bottom: 3px solid transparent;
        padding-bottom: 5px !important;

        &.active-link-class, &:hover {
          color: var(--themePrimaryColor) !important;
          border-bottom: 3px solid var(--themePrimaryColor) !important;
        }

        @include mq('tablet-max') {
          padding: 0;
        }

        @include mq('desktop-min') {
          margin: 0 10px;
        }
      }
    }
  }
}
